/* DataPatient.css */
.search-container {
    margin-bottom: 20px;
    text-align: center;
}

.search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: width 0.3s ease, border-color 0.3s ease;
}

.search-input:focus {
    width: 400px;
    border-color: #007bff;
}

/* Styles pour les badges de status */
.badge-dark-stable {
    background-color: #28a745; /* Vert foncé pour stable */
    color: white;
}

.badge-dark-en-traitement {
    background-color: #ffc107; /* Jaune pour en traitement */
    color: white;
}

.badge-dark-hospitalise {
    background-color: #17a2b8; /* Bleu pour hospitalisé */
    color: white;
}

.badge-dark-sortie {
    background-color: #6c757d; /* Gris pour sortie */
    color: white;
}

.badge-dark-urgent {
    background-color: #dc3545; /* Rouge pour urgent */
    color: white;
}

