/* Alignement de la barre de recherche à droite */
.top-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    align-items: center;
}
/* Styles pour les boutons dans le modal */
.modal-footer .btn {
    width: 100%; /* Faites en sorte que les boutons prennent toute la largeur disponible */
    padding: 0.5rem; /* Ajustez le padding pour correspondre aux champs de saisie */
}

/* Style pour le bouton Annuler avec une spécificité accrue */
.modal-footer .btn-cancel {
    background-color: rgb(138, 31, 31) !important; /* Couleur rouge pour le bouton Annuler */
    border-color: rgb(135, 35, 35) !important; /* Bordure rouge pour correspondre au fond */
}

.modal-footer .btn-cancel:hover {
    background-color: darkred !important; /* Couleur légèrement plus foncée au survol */
    border-color: darkred !important;
}

/* Style pour le bouton Mettre à jour */
.modal-footer .btn-update {
    background-color: #409D9B !important; /* Couleur spécifiée pour le bouton Mettre à jour */
    border-color: #409D9B !important; /* Bordure de la même couleur */
}

.modal-footer .btn-update:hover {
    background-color: #3a8e8c !important; /* Couleur légèrement plus foncée au survol */
    border-color: #3a8e8c !important;
}


.search-input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: width 0.3s ease, border-color 0.3s ease;
}

.search-input:focus {
    width: 250px;
    border-color: #007bff;
}

/* Style de la barre d'alerte */
.alert-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Alignement horizontal des icônes */
.action-buttons {
    display: flex;
    gap: 10px;
}

/* Couleurs des icônes d'action */
.icon-red {
    color: red;
    cursor: pointer;
}

.icon-orange {
    color: orange;
    cursor: pointer;
}

.icon-blue {
    color: blue;
    cursor: pointer;
}
